.mat-card {
    border-radius:0px !important;
    background-color:#65ba69 !important;
    padding-bottom: 50px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
    border: 0 !important;
}

.form {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
}

.form-tile>::ng-deep .mat-figure{
    color: white
}

.tile-list>::ng-deep .mat-grid-list{
    color: white
}