.form-tile>::ng-deep .mat-figure{
    color: white
}

.tile-list>::ng-deep .mat-grid-list{
    color: white
}

.panel {
    width:300px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#65ba69 !important;
    border-radius:0px !important;
    padding-top: 20px;
  }