<div class="form">
    <mat-card>
        <p>
            <img class="image" src="../../assets/logo.png" alt="">
        </p>
        <p>
            Inicia sessión con
        </p>
        <p>
            <button class="form-button fb" mat-raised-button>Facebook</button>
        </p>
        
        <p>
            <button class="form-button gm" mat-raised-button>Gmail</button>
        </p>

        <p>
            <button class="form-button" mat-raised-button (click)="openDialog()">Registro</button>
        </p>
        
    </mat-card>
</div>