html, body { height: 100%; }
body {
    margin: 0; 
    background:#65ba69;
    background: linear-gradient(-10deg, white 50%, #65ba69 50%);
}

.mat-icon{
    height:50px !important;
    width:50px !important;
    font-size:50px !important;
}

.form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 100vh;
}

.form-button{
    width: 100%;
}

.form-button-icon{
    height:100px !important;
    width:100px !important;
    font-size:100px !important;
}

.fb {
    background-color: #3b5998;
    color: white;
}

.gm {
    background-color: #e62b33;
    color: white;
}

.mat-raised-button {
    border-radius: 0px !important;
}

.image {
    width:150px !important;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.mat-card {
    border-radius:0px !important;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 50px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}